<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마운틴뷰 회원가입</title>
        <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">

    <!--    CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <!--    Jquery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>

<!--    script -->
    <script src="/static/js/register.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>

<div class="main-container flex-row">
    <div class="side-navi flex-column">
        <div class="flex-row">
            목록 첫번째
        </div>
        <div class="flex-row">
            목록 두번째
        </div>
        <div class="flex-row">
            목록 세번째
        </div>
    </div>

    <div class="main-contents flex-column">
        <div class="login-card flex-column">
            <h1>Register</h1>
            <br>
            <div class="login-form">
                <div class="flex-row">
                <div class="input-box" style="width: 80%">
                    <input id="userId" type="text" name="userId" placeholder="아이디" required>
                    <label for="userId">아이디</label>
                </div>
                <button class="btn-sm negative-btn" onclick="checkId()">중복 확인</button>
                </div>
                <div class="register-text flex-row" id="checkDuplicate">
                    <span>아이디 중복확인 완료</span>
                </div>

                <div class="input-box">
                    <input id="userPassword" type="password" name="userPassword" placeholder="비밀번호">
                    <label for="userPassword">비밀번호</label>
                </div>
                <div class="input-box">
                    <input id="checkPassword" type="password" name="checkPassword" placeholder="비밀번호 확인">
                    <label for="checkPassword">비밀번호 확인</label>
                </div>
                <button class="btn-sm negative-btn" onclick="checkPassword()">비밀번호 확인</button>

                <div class="register-text flex-column" id="checkSamePassword">
                    <span>비밀번호가 일치합니다.</span>
                </div>
                <div class="input-box">
                    <input id="userBirth" type="date" name="userBirth" placeholder="나이" required>
                    <label for="userBirth">나이</label>
                </div>
                <div class="input-box">
                    <input id="userNickname" type="text" name="userNickname" placeholder="닉네임" required>
                    <label for="userNickname">닉네임</label>
                </div>
                <div class="login-etc" style="justify-content: center">
                    <a href="login"><h4>이미 회원이신가요?</h4></a>
                </div>
                <div class="flex-row">
                    <button class="positive-btn" onclick="register()">회원가입</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>